h1{
    background-color: red;
}

div[name="div04"],
div[name="div01"] {
    color: blue;
    font-weight: 900;
}

#test02 > h4{                       
    background-color: red;
}

#test03~h5 {
    background-color: red;
}
/* 마우스 대면나옴 */
#test04-1:hover{
    background-color: violet;
}
/* 마우스 클릭시 나옴 */
#test04-2:active{
    background-color: violet;
}

#test05-1:checked {
    width: 50px;
    height: 50px;
}

#test05-2:focus {
    background-color: gray;
}

.test05:disabled {
    border: 3px solid red;
}

#test06{
    border: 5px solid black;
}
/* 별은 모든  */
#test06 > p:nth-child(2n) {
    background-color: gray;
}

#test07 {
    border: 3px dashed black;
}
/* :nth 차일드 자주씀 , 여러타입 다써보기  */
#test07 > p:last-of-type {
    background-color: gray;
}
/* : < 콜론  first-line , before, select*/


#test09 > p::after {
    content: "zzz";
    background-color: orange;
}

#test10 > p:not(.kh) {
    background-color: skyblue;
}


