h1{background-color: red;}

#target{
    width: 100px;
    height: 100px;
    border: 3px dashed black;

    background-color: blue;
}

#target:hover{
    transform: translateY(200px);
    background-color: green;
    /* transition-duration: 2s;
    transition-delay: 2s; */
    /* transition-timing-function: ; */
    /* transition-timing-function: linear;
    transition-property: transform; */
    

}

/* 애니메이션 */

#t{
    width: 100px;
    height: 100px;
    border: 3px dashed black;
    background-color: lightgray;

}

#t:hover{
    background-color: violet;
    animation-name: changecoler;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-delay: 1s;
    /* animation-iteration-count: infinite; */
    /* animation-direction: alternate-reverse; */
    animation-fill-mode: forwards;
  
}


#abc{
    width: 90px;
    height: 30px;
    border-radius: 10;
    background-color: violet;
    font-weight: 700;
    
}

#abc:hover{
    animation-name: jelly;
    animation-duration: .8s;
    cursor: pointer;

}

@keyframes jelly {
    0%{transform: scale(1.2,0.8);}
    25%{transform: scale(1.9,1.1);}
    50%{transform: scale(1.1,0.9);}
    75%{transform: scale(0.8,1.2);}
    100%{transform: scale(1.2,0.8);}
   
    
}

.loading{
    width: 20px;
    height: 20px;
    border: 3px solid orange;
    border-top: 3px solid brown;
    border-radius: 999px;

    animation-name: spinner;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}



@keyframes spinner{
    0%{
        transform:rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}