body{margin: 0;}

h1{
    padding: 0;
    margin: 0;
}

#target{
    width: 400px;
    height: 400px;
    border: 5px solid black;
    
    display: grid;
    /* grid-template-rows: repeat(4, 100px); */
    /* grid-template-rows: 1fr 1fr 1fr 1fr; */
    grid-template-rows: 20% 20% 20% 20% 20% ;
    grid-template-columns: 20% 20% 20% 20% 20% ;
    /* justify-items: center;
    align-items: center; */
    place-items: stretch center;

    /* justify-content: center;
    align-content: center; */

    place-content: center center;

}

#target > span:first-child {
    grid-row: span 2;
    grid-column: span 2;
}




