body {
    margin: 0;
    padding: 0;
}

#wrapper{
    width: 100vw;
    height: 100vh;
    background-color: lightgray;

    display: grid;
    grid-template-rows: 3fr 1fr 7fr 1fr 3fr;
    grid-template-columns: 1fr;
}

#header {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 3fr 1fr;
}

#search-area{
    display: flex;
    justify-content: center;
    align-items: center;
}

#search-area > input {
    width: 300px;
    height: 30px;
    font-size: 1.2em;
    font-weight: 700;
    border-radius: 10px;
    padding: 10px 30px;
}

#search-area > button {
    width: 100px;
    height: 35px;
    border-radius: 15px;
    margin-left: 20px;
    border: 5px double violet;
    background-color: orangered;
}

#navi {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(5 , 1fr);

    /* justify-items: center;
    align-items: center; */

    place-items: center center;
}

#navi > a {
    font-size: 1.5em;
    font-weight: 700;
    text-decoration: none;
    color: white;
    background-color: black;
    width: 90%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

#navi > a:hover {
    font-size: 2em;
    animation-name: jelly;
    animation-duration: .8s;
}

@keyframes jelly {
    0% {
        transform: scale(1, 1) skew(0deg, 0deg);
    }
    25% {
        transform: scale(1.15, 0.9) skew(-6deg, 2deg);
    }
    50% {
        transform: scale(0.9, 1.2) skew(8deg, -4deg);
    }
    75% {
        transform: scale(1.08, 0.95) skew(-3deg, 1deg);
    }
    100% {
        transform: scale(1, 1) skew(0deg, 0deg);
    }
}


#main{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 3fr 1fr;
}

#aside{
    display: grid;
    grid-template-rows: 3fr 7fr;
    grid-template-columns: 1fr;
}

#login-area{
    display: grid;
    grid-template-rows: 1fr;

}

#login-area-bottom {
    display: grid;
    grid-template-rows:1fr ;
    grid-template-columns: 1fr 1fr;

}

#login-area-bottom > button {
 font-size: 1.5em;
    font-weight: 700;
}

#login-area-top{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 7fr 3fr;
}

#login-area-top > button {
    grid-row: span 2;

}

#footer-top{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(14,1fr);
    place-items: center center;
}


#footer-top > span{
    font-size: 1.2em;
    font-weight: 700;
    white-space: nowrap;
}



