h1{
    background-color: red;
}
/* vw,vh,% */
#target{
    background-color: blue;
    width: 50vw;
    height: 50vh;
}


#a{
    width: 300px;
    height: 300px;
    border: 3px solid black;
}
#b{
    width: 50%;
    height: 50%;
    background-color: gray;

}

span{
    display: inline-block;
    background-color: green;
    width: 50px;
    height: 50px;

    border: 3px solid red;
    border-radius: 10px;
}

